*{
    margin: 0;
    padding: 0;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: white;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}



.cars{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    width: 90%;
    max-width: 1000px;
    border-radius: 20px;
    padding:20px ;
}

.sedan{
    background-color: hsl(31, 77%, 52%);
    padding: 40px;
}

.suv{
    background-color: hsl(184, 100%, 22%);
    padding: 40px;

}

.luxury{
    background-color: hsl(179, 100%, 13%);
    padding: 40px;
}

img{
    margin-bottom: 20px;
}

h2{
    margin-bottom: 30px;
    font-size: 2rem;
}

p{
    font-weight: 300;
}


button{
    height: 50px;
    width: 150px;
    border-radius: 30px;
    font-size: 1rem;
    border: 1px solid transparent;
    margin-top: 100px;
    font-weight: 500;
    cursor: pointer;
}

.sedbtn{
    color:hsl(31, 77%, 52%) ;
}

.suvbtn{
    color: hsl(184, 100%, 22%);
}

.luxbtn{
    color:hsl(179, 100%, 13%) ;
}

.attribution{
    color: black;
}


@media screen and (max-width:500px){
    .cars{
        width: 500px;
        display: grid;
        grid-template-columns:1fr;
        font-size: 1.5rem;
        margin: 20px;
        padding: 20px;
        height: 500px;
        overflow: scroll;
    }
    button{
        width: 50%;
    }
}

@media (min-width:501px) and (max-width:850px){
    .cars{
        width:80% ;
        font-size:1.2rem;
        grid-template-columns: 1fr 1fr;
        overflow: scroll;
        padding: 20px;
    }
}